/* Cera pro */

@font-face {
  font-family: 'CeraPro';
  src: url('/fonts/cerapro-regular-webfont.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'CeraPro';
  src: url('/fonts/cerapro-medium-webfont.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'CeraPro';
  src: url('/fonts/cerapro-bold-webfont.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'CeraPro';
  src: url('/fonts/cerapro-black-webfont.woff2') format('woff2');
  font-weight: 800;
}

/* Montserrat */

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
}

/* Gilroy */

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Black.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
}


:root {
  font-family: 'CeraPro';
  font-size: 16px;

  --purple: #AD77AA;
  --yellow: #FFDE7B;
  --gray-ultra-light: #F1F1F1;
  --gray-light: #A5A4A4;
  --gray: #323232;
}

::-moz-selection {
  background-color: var(--yellow);
  color: #fff;
}

::selection {
  background-color: var(--yellow);
  color: #fff;
}

* {
  box-sizing: border-box;
}

body{
  font-weight: 500;
  min-width: 320px;
}

.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page {
  margin: 0;
  min-height: 100vh;
}

.page__header{
  margin-top: 14px;
  margin-bottom: 14px;
}

.header{
  display: flex;
  justify-content: center;
}

.header__burger-button{
  position: absolute;
  left: 10px;
}

.burger-button{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 50px;
  height: 38px;
  padding: 10px;
  border: 0;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.burger-button__line{
  display: block;
  width: 100%;
  height: 2px;
  background-color: #363b46;
  will-change: transform;
  -webkit-transition: opacity .15s ease,-webkit-transform .15s ease;
  transition: opacity .15s ease,-webkit-transform .15s ease;
  -o-transition: transform .15s ease,opacity .15s ease;
  transition: transform .15s ease,opacity .15s ease;
  transition: transform .15s ease,opacity .15s ease,-webkit-transform .15s ease;
}


.header__brand{
  display: flex;
  align-items: flex-end;
}

.brand-link{
  text-decoration: none;
  display: inline-block;
}

.brand-title{
  font-family: 'Montserrat';
  font-weight: 800;
  color: var(--purple);
  font-size: 2rem;
  margin: 0;
}

.brand-title--footer{
  color: #fff;
  font-size: 4rem;
}

.header__nav{
  flex-basis: 50%;
  display: none;
}

.header__nav-list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.button{
  font-weight: 700;
  font-size: 1rem;
  width: 170px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--gray-ultra-light);
  color: var(--gray-light);
}

.button--yellow{
  background-color: var(--yellow);
  color: var(--gray);
}

.button--purple-stroke{
  background-color: transparent;
  color: var(--purple);
  border: 3px solid var(--purple);
}

.button--white-stroke{
  background-color: transparent;
  color: #fff;
  border: 3px solid #fff;
}


.header__location{
  display: none;
  flex-basis: 25%;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
}

.header__location-icon{
  margin-right: 8px;
}

.header__location-city{
  color: var(--purple);
}


.page__section{
  margin-top: 80px;
  margin-bottom: 50px;
}

.section-title{
  color: var(--purple);
  font-size: 4.6rem;
  font-weight: 800;
  line-height: .75;
  margin: 0;
  margin-bottom: 58px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.2px var(--purple);
}


.footer{
  background-color: var(--purple);
  height: 300px;
}

.footer__content{
  display: flex;
  align-items: center;
  height: 100%;
}

@media (min-width: 576px){


}

@media (min-width: 992px){

  .header{
    justify-content: space-between;
  }

  .page__header{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .header__brand{
    flex-basis: 25%;
  }

  .brand-title{
    font-size: 2.6rem;
  }

  .burger-button{
    display: none;
  }

  .header__nav{
    display: block;
  }

  .header__location{
    display: flex;
  }

  .section-title{
    font-size: 6.8rem;
  }

}

@media (min-width: 1440px) {
  .container{
    max-width: 1440px;
  }
}
