@font-face {
  font-family: 'CeraPro';
  src: url('/fonts/cerapro-regular-webfont.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'CeraPro';
  src: url('/fonts/cerapro-medium-webfont.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'CeraPro';
  src: url('/fonts/cerapro-bold-webfont.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'CeraPro';
  src: url('/fonts/cerapro-black-webfont.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

body{
  font-family: 'CeraPro';
  font-weight: 500;
  min-width: 320px;
}

.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page {
  margin: 0;
  min-height: 100vh;
}

.page__header{
  margin-top: 40px;
  margin-bottom: 40px;
}

.header{
  display: flex;
  justify-content: space-between;
}

.header__brand{
  flex-basis: 25%;
  display: flex;
  align-items: flex-end;
}

.brand-link{
  text-decoration: none;
  display: inline-block;
}

.brand-title{
  font-family: 'Montserrat';
  color: #AD77AA;
  font-size: 38px;
  margin: 0;
}

.brand-title--footer{
  color: #fff;
  font-size: 64px;
}

.header__nav{
  flex-basis: 50%;
}

.header__nav-list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.menu__link{
  width: 170px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1F1F1;
  color: #A5A4A4;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.menu__link--active{
  background-color: #FFDE7B;
  color: #323232;
}

.header__location{
  flex-basis: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.header__location-icon{
  margin-right: 8px;
}

.header__location-city{
  color: #AD77AA;
}


.footer{
  background-color: #AD77AA;
  height: 300px;
}

.footer__content{
  display: flex;
  align-items: center;
  height: 100%;
}

@media (min-width: 1440px) {
  .container{
    max-width: 1440px;
  }
}
